.header {
    height: 1.09375rem;
    display: flex;
    justify-content: space-between;
    padding: 0.15625rem 0.46875rem;
}

svg {
    width: 0.46875rem;
    height: 0.46875rem;
    display: flex;
    align-self: center;
}